{% load static %}
<li>
    <article class="post">
        <a href="{% url 'post_details_page' 'Mountain' %}">
            <img src="{% static 'myblog/images/mountains.jpeg' %}" alt="Mountain hiking" />
            <div class="post__content">
                    <h3>Mountain Hiking</h3>
                    <p>
                        there is nothing like the views that you get when hiking !! i wasn't even prepared for this beautifull moments
                    </p>
            </div>
        </a>
    </article>

</li>